<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="main">
      <p>guide for hosting med bilder</p>
    </div>

    <%- include('./partials/footer') %>

  </body>
</html>