
body {
    margin: 25px;
    background-color: white;
  }

h1 {
    text-align: center;
  }
  
h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
    padding: 10px;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}
  
li a:hover:not(.active) {
    background-color: grey;
}
  
.active {
    background-color: hsl(0, 41%, 74%);
}

.grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
    padding: 10px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.741);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    max-height: auto;
    max-width: 400px;
    overflow-x: hidden;
    left: 100px;
  }
  
  .grid-item {
    position: relative;
    width: 50%;
  }

.logginn {
    text-align: center;
}

.footer {
    height: 40px;
    text-align: center;
}